<!DOCTYPE html>
<html>
  <head>
    <title>LAYOUT</title>
    <link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
  </head>
  <body>
    <%- body %>
  </body>
</html>
