<!DOCTYPE html>
<html>
  <head>
    <title>View</title>
  </head>
  <body>
    <h1>User view</h1>
    <table>
      <tbody>
        <tr>
          <td>Id</td>
          <td>{{id}}</td>
        </tr>
        <tr>
          <td>First Name</td>
          <td>{{first_name}}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{last_name}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{email_id}}</td>
        </tr>
        <tr>
          <td>DOB</td>
          <td>{{dob}}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{gender}}</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>{{phone}}</td>
        </tr>
        <tr>
          <td>Password</td>
          <td>{{password}}</td>
        </tr>
        <tr>
          <td>Deleted</td>
          <td>{{is_deleted}}</td>
        </tr>
        <tr>
          <td>Created At</td>
          <td>{{created_at}}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
